:root {
  line-height: 150%;

}
body {

  background-image: url("assets/paginareceita.jpg");
  background-size: cover;
}

#page {
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin:  auto;
}

h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
ul{
  font-size: 20px;
}

footer {
  text-align: center;
  font-size: 20px;
  color: white;
}
footer img {
  vertical-align: middle;
}